[Unit]
Description=Aktionskaten backend gunicorn daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=www-data
Group=www-data
WorkingDirectory={{BACKEND_DIR}}
ExecStart={{VENV_DIR}}/bin/gunicorn --worker-class eventlet -w 1 "app:create_app()"
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
