[submodule "deploy/ansible/roles/ansible-role-nginx-letsencrypt"]
	path = deploy/ansible/roles/ansible-role-nginx-letsencrypt
	url = https://github.com/aktionskarten/ansible-role-nginx-letsencrypt.git
[submodule "libs/python-mapnik"]
	path = libs/python-mapnik
	url = https://github.com/mapnik/python-mapnik.git
