flask
flask-cors
itsdangerous
flask-sqlalchemy
geoalchemy2
flask-socketio
psycopg2-binary
numpy
geojson
shapely
blinker
pytest
awesome-slugify
factory-boy
faker
pylint
eventlet
sh
pycairo
pyyaml
click
rq
python-dotenv
pypdf2
path.py
sphinxcontrib-httpdomain
gunicorn
