flask
flask-cors
itsdangerous
flask-sqlalchemy
geoalchemy2
flask-socketio
psycopg2-binary
numpy
geojson
shapely
blinker
pytest
pylint
eventlet==0.31.0
sh
pycairo
pyyaml
click
rq
python-dotenv
pypdf2
path.py
sphinxcontrib-httpdomain
gunicorn
Flask-Migrate
backports-datetime-fromisoformat; python_version < '3.7'
wand
fpdf
pypdf2
wheel
Haversine
geopy
pyproj
