<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rendering {{m.name}}...</title>
    <script>
      function check() {
        fetch('{{url_for('Renderer.map_render', map_id=m.uuid.hex, file_type=file_type)}}', {
          method: 'HEAD',
          headers: {
            "Accept": "application/json"
          }
        }).then(response => {
          if (response.status == 200) {
            window.location = '{{url_for('Renderer.map_download', map_id=m.uuid.hex, file_type=file_type)}}'
          } else {
            setTimeout(()=>check(), 1000);
          }
        });
      }
    </script>
  </head>
  <body onload="check()">
    <h1>Map {{m.name}} is rendering</h1>
    <p>
      You should be redirected as soon as the map is rendered. It may take some
      time. Otherwise check <a href="{{url_for('Renderer.map_download',
        map_id=m.uuid.hex, file_type=file_type)}}">here</a>.
    </p>
  </body>
</html>
